fieldset{
	width:310px
}

form label{
	clear:left;
	float:left;
	width:90px;
	line-height:29px
}

form div{
	padding:4px 0
}

input[type=text],input[type=number],select,textarea{
	width:200px
}

#categoryPanel,#categoryEditPanel{
	float:left;
	width:350px;
	border-right:1px solid #CCC
}

#productPanel,#productEditPanel{
	float:left;
	padding-left:10px
	border-right:1px solid #CCC
}
#txnTable {
	float:left;
	padding-left:10px
}
table{ 
	border-collapse: collapse;
}
th {
font-weight: normal;
}

#categoryList span{
	cursor:pointer;
	text-decoration:underline;
	color:#00F
}
#productList span{
	cursor:pointer;
	text-decoration:underline;
	color:#00F
}

#categoryList span:hover{
	text-decoration:none
}
#productList span:hover{
	text-decoration:none
}
#categoryList span.edit, #categoryList span.delete,#productList span.edit, #productList span.delete{
	float:right;
	padding-right:10px
}

#categoryList span.name, #productList span.name{
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 190px;
}
#categoryList li, #productList li {
    clear: both;
	list-style-type: none;
}

.hide{display:none}
.clear{clear:both}